body {
	background: url(img/noise.png) #D8D8D8 repeat;
	font-family: 'Helvetica Neue', sans-serif;
	width: 34.375em;
	margin: 9.375em auto 3.125em;
}

#wrap {
	transform-style: preserve-3d;
	perspective: 1000;
	position: relative;
	height: 21.875em;
	width: 34.375em;
	margin: 9.375em auto 3.125em;
	
}

section {
	height: 100%;
	width: 100%;
	border: .0625em solid #000000;
	border-radius: .5625em;
	text-align: center;
	position: absolute;
	box-shadow: 0 .125em .25em rgba(0,0,0,0.50), inset 0 .0625em 0 rgba(255,255,255,0.30);
	color: rgba(255,255,255,.9);
	text-shadow: 0 .0625em 0 rgba(0,0,0,0.50);
	backface-visibility: hidden;
	transition: transform 850ms ease-in-out 100ms;
}

#front {
	background-color: hsl(0,100%,50%);	
	background-clip: padding;
}

#front h1 {
	font-size: 4em;
	margin: 0;
	padding: .140625em 0;
	border-bottom: .015625em solid black;
	text-shadow: 0 -.015625em .015625em rgba(0,0,0,0.59);
	background-image: linear-gradient(-90deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.30) 50%, rgba(0,0,0,0.40) 100%);
	border-radius: .140625em .140625em 0 0;
}
#front:after {
	content: '';
	display: block;
	position: absolute;
	background-image: linear-gradient(-90deg, rgba(0,0,0,0.55) 0%, rgba(0,0,0,.15) 5%);
	left: 0;
	right: 0;
	bottom: 0;
	top: 6.0625em;
	z-index: 1;
	border-radius: 0 0 .140625em .140625em;
}
#front * {
	z-index: 5;
}

#dog {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 26.125em;
	height: 11.375;
}

#back {	
	background-image: linear-gradient(-90deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.78) 100%), url(img/noise.png);
	box-shadow: 0 .125em .25em rgba(0,0,0,0.50), inset 0 .0625em 0 rgba(255,255,255,0.1);
	transform: rotateY(180deg);
	
}

#back h1 {
	font: inherit;
}

body:hover #back, #back:target {
   transform: rotateY(0deg);
}
body:hover #front {
    transform: rotateY(-180deg);
}

a {
	color: inherit;
	text-decoration: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	border-radius: .45em;
	background-clip: padding-box;
	background-color: rgba(0,0,0,0.39);
	border: .0625em solid #000000;
	box-shadow: 0 .0625em 0 rgba(255, 255, 255, 0.07), inset 0px .125em .125em rgba(0,0,0,0.50);
	margin: 1em;
}

li:active, li:focus {
	background-color: rgba(0,0,0,.6);
	opacity: .8;
	transform: translateY(1px);
}

li a {
	padding: .55em 0 .6em;
	display: block;
}

#portfolio {
	margin: 0 8.375em;
}

#portfolio li {
	font-size: 1.25em;
	font-weight: bold;
}

#portfolio li:active, #portfolio li:focus {
	box-shadow: 0 .0625em 0 rgba(255, 255, 255, 0.07), inset 0px .125em .25em rgba(0,0,0,0.80);
}

#portfolio .mathhammer { background-image: linear-gradient(270deg, #7b0606 0%, #480404 100%); }
#portfolio .roboknights { background-image: linear-gradient(270deg, #4f4f4f 0%, #333333 100%); }
#portfolio .mentaurus { background-image: linear-gradient(270deg, #ac8d04 0%, #705903 100%); }
#portfolio .frc-timer { background-image:  linear-gradient(270deg, #036c03 0%, #044304 100%); }

.tumblr, .twitter { float: left; clear: left; }
.forrst, .github { float: right; clear: right; }

#social {
	clear: both;
}
#social li {
	margin: .4375em 1em .75em;
}
#social li a {
	padding: .5em;
	height: 6.375em;
	width: 6.375em;
	background: no-repeat center 2em;
}

#beiju {
	margin: -.55em 0 0;
	
}
#beiju a {
	border-bottom: .0625em dashed #cfcfcf;
	display: inline-block;
}
#beiju a:hover {
	border-bottom-style: solid;
}
#beiju a:active, #beiju a:focus {
	border-bottom-style: solid;
	transform: translateY(1px);
}

#social .tumblr a { background-image: url(img/tumblr.png); }
#social .twitter a { background-image: url(img/twitter.png); }
#social .forrst a { background-image: url(img/forrst.png); }
#social .github a { background-image: url(img/github.png); }